/* estilos.css */

/* Estilos para el encabezado */
header {
    background-color: #0072C6;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

#principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
  width: 50px; /* Ajusta el ancho del logo según tus necesidades */
  height: auto; /* Ajusta la altura del logo según tus necesidades */
  margin-right: 10px; /* Espacio entre el logo y el menú principal */
}

#cabecera ul {
  display: flex; /* Alinea los elementos del menú en una línea horizontal */
  list-style: none; /* Elimina los estilos de viñeta de la lista */
}

#cabecera li {
  margin-right: 20px; /* Espacio entre los elementos del menú */
}

/* Estilos para las columnas */
#columnas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}


#colPortada2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  
  .image-container img {
    margin-right: 10px;
  }
  
  @media screen and (max-width: 767px) {
    .image-container {
      flex-direction: column;
      align-items: center;
    }
  
    .image-container img {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

.col {
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: #A6A6A6;
    color: #FFFFFF;
    border-radius: 10px; /* para redondear los bordes */
}

/* Estilos para el footer */
footer {
    background-color: #A6A6A6;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Otros estilos */
.titPortada {
    color: #0072C6;
}

.iconoh2 {
    border: 2px solid #0072C6;
}

.imgComplemento {
    width: 200px;
    height: 150px;
}
