body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Estilos generales del formulario */
  #formulario {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
  }
  
  h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #0072C6;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #0072C6;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="time"] {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #A6A6A6;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    padding: 8px 16px;
    background-color: #0072C6;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #005BAE;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  li:last-child {
    margin-bottom: 0;
  }
  
  .footer-text {
    color: #A6A6A6; /* Utiliza el gris de la paleta de colores */
    font-size: 12px; /* Tamaño de letra pequeño */
  }
  